.App {
  text-align: center;
  background: silver;
}

.App-header {
  background-color: #282c34;
  min-height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 10px;
}

strong {
  color:white;
}
.App-header > p {
  width: 90%;
  font-size: 15px;
  color: grey;
  text-align: right;
}

.App-link {
  color: #61dafb;
}

ul {
  list-style: none;
}

.stuff {
  position: relative;
  float: left;
}


.Symptom-input {
  padding: 10px;
  font-size: 30px;
  width: 80%;
  background: rgb(228, 226, 226);
  border: none;
  height: 10vh;
  border: 1px solid black;
}
.Search-bar{
  width: 100%;
}

.Suggested-list {
  display: block;
  margin-top: -10px;
  position: absolute;
  background: rgba(255, 255, 255, 0.205);
  z-index: 10;
  width: 80%;
}

.Suggested-list-item {
  margin: 5px;
  z-index: 10;
  border: black 1px solid;
}

.Suggested-list-item-button {
  font-size: 25px;
  background: rgb(248, 242, 242);
  width: 100%;
  height: 100%;
}



.Page-nav-button{
  width: 50px;
  height: 50px;
}

.Checked-component {
  width: 30vw;
  text-align:center;
  position: relative;
  float: left;
  margin-left: 1vw;
  display: block;
}

.Checked-component > h1 {
  text-align: center;
}

.Checked-list {
  float: left;  
  position: relative;
  width: 40vw;
}

.Checked-symptoms {
  position: relative;
  width: 100%;
  font-size: 30px;
  text-align: left;
  margin-bottom: 5px;
}

.Remove-checked{
  color: black;
  font-size: 30px;
  background: white;
  border-radius: 50px;
}

.Drug-recommendations {
  position: relative;
  float: left;
  width: 30%;
  height: 40vh;
  margin-left: 1vw;;
  margin-top: 10vh;
}

.Drug-list-item {
  font-size: 30px;
  background: lightgrey;
  border: 1px solid black;
  margin-bottom: 5px;
}


.Symptoms-component {
  position: relative;
  float: left;
  width: 60vw;
}

.Symptoms-list {
  width: 100%;
}

.symptoms {
  width: 40%;
  padding: 1px;
  height: 10vh;
  text-decoration: none;
  float: left;
  position: relative;
  border: 1px solid black;;
  border-radius: 5px;
}

.Symptom-button {
  float: left;
  text-align: left;
  font-size: 30px;
  background: white;
  height: 100%;
  width: 100%;
}


.Symptom-clicked {
  background: lightgrey;
}


@media (max-width: 618px) {
  .Symptoms-component{
    width: 100vw;
  }

  .Checked-component {
    width: 80%;
  }
  .Drug-recommendations {
    width: 80%;
  }
}

@media (max-width: 700px) {
  .symptoms >button {
    font-size: 20px;
  }
}

@media (min-width: 700px) {
  .Suggested-list {
    margin-left: 20px;
    width: 84%;
  }
}